<<<<<<< HEAD
@charset "UTF-8";
/* MINDsLab. NBR. 20200113 */

/* -------------------- contents -------------------- */
#contents {float: left; width: calc(100% - 200px); height: 100%; padding: 0 40px;}
#contents .cont_box {width: 100%; padding: 30px 0; border-top: solid 1px rgba(138,146,177,0.4);}
#contents .script_box,
#contents .sentences_box {float: left;}
#contents .cont_box h3 {margin: 0 0 8px 0;}

/* sound_box */
#contents .sound_box {position: relative; width: 100%; height: 131px; border-radius: 5px; border: solid 1px #cfd5eb; background: #fff; text-align: center;}
#contents .sound_box > div {float: left; height: calc(100% - 24px); margin: 12px 0;}
#contents .sound_box .play_box {position: relative; width: calc(57% - 1px); border-right: 1px dotted #cfd5eb;}
#contents .sound_box .play_box p {position: absolute; top: 11px; color: #576068; font-size: 12px; font-weight: 500;}
#contents .sound_box .play_box p.play_time {left: 40px;}
#contents .sound_box .play_box p.total_time {right: 40px;}
#contents .sound_box .play_box .player {position: absolute; top: 18px; left: 75px; width: calc(100% - 260px); height: 6px; padding: 0 50px; border-radius: 3px; background: #cfd5eb;}
#contents .sound_box .play_box .player span {position: absolute; left: 0; width: 40%; height: 100%; border-radius: 3px; background: #2c3f51;}
#contents .sound_box .play_box button {position: absolute;}
#contents .sound_box .play_box .replay_btn {top: 56px; left: calc(50% - 100px);}
#contents .sound_box .play_box .play_btn {top: 45px; left: 50%; transform: translate(-50%, 0);}
#contents .sound_box .play_box .forward_btn {top: 56px; left: calc(50% + 60px);} 
#contents .sound_box .play_box .speed_btn {position: absolute; bottom: 25px; right: 80px; width: 40px; height: 26px; border-radius: 4px; font-size: 12px; font-weight: 500;}
.replay_btn span,
.forward_btn span {font-size: 17px;}
#contents .sound_box .play_box .speed_low {right: 125px; border: 1px solid #2c3f51; background: #2c3f51; color: #fff;}
#contents .sound_box .play_box .speed_high {border: 1px solid #cfd5eb; background: #fff; color: #808aab;}

#contents .sound_box .select_box {width: 43%; text-align: center;}
#contents .sound_box .select_box h3 {display: inline-block; margin: 43px 0 0 0;}
#contents .sound_box .select_box select {display: inline-block; width: 35%; height: 30px; margin: 43px 0 0 8px; padding: 0 10px; border-radius: 3px; border: 1px solid #cfd5eb; background: url(../images/img_arrow_down.png) 95% 50% no-repeat; background-color: #eff1f7; cursor: pointer;}

/* script_box */
#contents .script_box .script_lst {overflow: auto; width: 100%; height: 546px; border-radius: 5px; border: solid 1px #cfd5eb; background: #fff;}
#contents .script_box .script_lst > li {width: 100%; height: 92px; padding: 12px 0; border-bottom: 1px solid #cfd5eb; box-sizing: border-box; font-size: 14px;}
#contents .script_box .script_lst > li a {display: block; width: 100%; height: 100%;}
#contents .script_box .script_lst > li:hover {background: #f2f4fc;}
#contents .script_box .script_lst > li span {display: inline-block; float: left; width: 38px; height: 100%; padding: 0 0 0 12px; color: #808aab;}
#contents .script_box .script_lst > li p {display: inline-block; float: left; width: calc(100% - 80px); height: 100%; padding: 0 30px 0 0;}

/* sentences_box */
#contents .sentences_box {position: relative; width: 42%; margin: 24px 0 22px 0;}
#contents .sentences_lst {overflow: auto; width: 100%; height: 546px;}
#contents .sentences_lst table {width: 100%;}
#contents .sentences_lst thead th {padding: 13px 0; color: #2c3f51; font-size: 13px; font-weight: 700;}
#contents .sentences_lst tr {border-bottom: 1px solid #cfd5eb; box-sizing: border-box;}
#contents .sentences_lst tbody td {padding: 5px 0; color: #2c3f51; font-size: 14px; text-align: center;}
#contents .sentences_lst tbody td:nth-child(1) {color: #5e77ff; font-size: 13px; font-weight: 500;}
#contents .sentences_lst tbody td:nth-child(2) {text-align: left;}

/* work_btn */
#contents .work_btn {position: relative; width: 100%; height: 40px;}
#contents .work_btn button {position: absolute; height: 100%; padding: 0 30px; border-radius: 5px; background: #fff;}
#contents .work_btn button span:before {margin: 0 5px 0 0;}
#contents .work_btn .giveup_btn {border: solid 1px #808aab; color: #2c3f51;}
#contents .work_btn .save_next_btn {right: 220px; border: solid 1px #5e77ff; color: #5e77ff; font-weight: 500;}
#contents .work_btn .temporary_save_btn {right: 0; background: #5e77ff; color: #fff; opacity: 0.5;}
=======
@charset "UTF-8";
/* MINDsLab. NBR. 20200110 */

/* -------------------- contents -------------------- */
>>>>>>> c1de786298e47da44966739562a79625529ab430
