@charset "UTF-8";
/* MINDsLab. NBR 20191218 */

.timeline_wrap{position: relative; height: 3000px; padding-top: 110px; margin: 0 auto; border: 1px solid red;}
.timeline_wrap:after{content: ''; display: block; position: absolute; top: 110px; left: 50%; width: 2px; height: calc(100% - 110px); margin-left: -1px; background: #f2695e;}
.timeline_wrap:before{content: ''; display: block; position: absolute; top: 105px; left: 50%; width: 11px; height: 11px; margin:0 0 0 -5px; background: #f2695e; border-radius: 100px;}


.txt_box h3{color: #333; line-height: 25px;}
.txt_box p{color: #a399a8; line-height: 25px;}


.txt_box{position: relative; width: 240px; height: 70px; margin-bottom: 75px; padding: 25px 40px; background: #fff; border: 1px solid #eff0f6; border-radius: 5px; box-shadow: 5px 5px 10px rgba(140,140,140,0.1); font-size: 15px;}

.timeline_wrap>div:nth-child(odd){left: 50%; margin-left: 52px;}
.timeline_wrap>div:nth-child(odd):before{content: ''; display: block; position: absolute; top: 33px; left: -60px; width: 15px; height: 15px; background: #f2695e; border-radius: 100px;}
.timeline_wrap>div:nth-child(odd):after{content: ''; position: absolute; top: 25%; right: 97%; width: 20px; height: 20px; background: #fff; border: 1px solid #eff0f6; border-right: none; border-top: none; transform: rotate(45deg);}

.timeline_wrap>div:nth-child(even){left:50%; margin-left: -374px;}
.timeline_wrap>div:nth-child(even):before{content: ''; display: block; position: absolute; top: 33px; right: -60px; width: 15px; height: 15px; background: #f2695e; border-radius: 100px;}
.timeline_wrap>div:nth-child(even):after{content: ''; position: absolute; top: 25%; left: 97%; width: 20px; height: 20px; background: #fff; border: 1px solid #eff0f6; border-left: none; border-bottom: none; transform: rotate(45deg);}
