@charset "UTF-8";

#wrap{width: 100%;}

/* -------------------- stn_gnb -------------------- */
.stn_gnb{position: absolute; top: 0; width: 100%; height: 60px; z-index: 5;}
.stn_gnb .gnb_box{position: relative;}
.stn_gnb .gnb_box .back_arrow{position: absolute; left: 0; padding: 16px 20px; z-index: 5;}
.stn_gnb .gnb_box .back_arrow>img{width: 10px;}

.stn_gnb .gnb_box .ham_menu{position: absolute; right: 0; width: 50px; height: 50px;}
.stn_gnb .gnb_box .ham_menu img{width: 16px;}

/* -------------------- stn_user_profile -------------------- */
.stn_user_profile .profile_box{position: relative; width: 100%;}
.stn_user_profile .profile_box .info_box{position: absolute; left: 50%; transform: translate(-50%); bottom: 55px;}
.stn_user_profile .profile_box .user_info>p{color: #fff; text-align: center; line-height: 25px;}
.stn_user_profile .profile_box .user_info .name{font-size: 20px; font-weight: 600;}
.stn_user_profile .profile_box .user_info .region{margin-bottom: 20px; }
.stn_user_profile .profile_box .follow_btn{width: 110px; height: 40px; margin: 0 15px; background: #b0a478; border-radius: 100px; color: #fff; font-size: 13px; font-weight: 600; text-align: center; letter-spacing: 1px; }

/* -------------------- stn_lnb -------------------- */
.stn_lnb{width: 100%; height: 55px;}
.stn_lnb .lnb_box{display: flex; width: 100%; height: 100%;}
.stn_lnb .lnb_box>li{flex: 3; font-weight: 600; text-align: center; line-height: 55px;}
.stn_lnb .lnb_box>li>a{display: block; position: relative; color: #9e9c96;}
.stn_lnb .lnb_box>li.active>a:after{content: ''; display: block; position: absolute; bottom: 0; width: 70%; height: 3px; margin: 0 15%; background: #b0a478;}
.stn_lnb .lnb_box>li.active>a{color: #333;}

/* -------------------- mutual_friends_box -------------------- */
.friends_box{padding: 4px; border-top: 1px solid #edece8;}
.friends_box h3{height: 30px; padding: 15px 0 0 12px; color: #333; font-size: 15px;}
.friends_box h3 span{color: #9e9c96;}
.friends_box>ul>li{float: left; width: calc(33.33% - 8px); padding: 4px;}
.friends_box ul li span{display: block; margin: 10px 0 15px 0; color: #333; font-weight: 600;}
